{% extends "base.html" %}
{% block content %}

        <div style="float:right;padding:15px;">
            <a href="/login" style="color:#FFF;font-size:16px;">Login</a>
            <a href="/register" style="color:#FFF;font-size:16px;">Register</a>
    
        </div>
        <div style="clear:both;"></div>
    </header>
 <div class="login-page">
     <div class="form">

         <form class="login-form" action="/auth/login" method="post">
             <input type="text" id="email" name="email" placeholder="email"/>
             <input type="password" id="password" name="password" placeholder="password"/>
             <button type="submit" id="submit-button">login</button>
             <button>signup</button>
         </form>
     </div>
 </div>
{% endblock %}