{% extends "base.html" %}
{% block content %}

      <div style="float:right;padding:15px;">
          <a href="#" style="color:#FFF;font-size:16px;">Projects</a>
      </div>
      <div style="clear:both;"></div>
  </header>

    <div class="form">

            <div class="user-heading">
                <h1>Users</h1>
            </div>

            <div class="user-form " >

            <section class="section-usercreation">
                <div class="row">

                    <ul class="user-list">
                        <li>User 01</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>
           <section class="section-usercreation">
                <div class="row">

                    <ul class="user-list">
                        <li>User 02</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>
            <section class="section-projectcreation">
                <div class="row">

                    <ul class="user-list">
                        <li>User 03</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>
            <section class="section-usercreation">
                <div class="row">

                    <ul class="user-list">
                        <li>User 04</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>
             <section class="section-usercreation">
                <div class="row">

                    <ul class="user-list">
                        <li>User 05</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>
             <section class="section-usercreation">
                <div class="row">

                    <ul class="user-list">
                        <li>User 06</li>
                        <li><a class="btn btn-full" href="#" > Edit </a></li>
                        <li><a class="btn btn-full" href="#" > Delete </a></li>

                    </ul>
                </div>
            </section>

        </div>

            <!-- Float button Code begins here  -->

            <a href="https://www.google.com/" class="float">
                <i class="fa fa-plus my-float"></i>
            </a>

    </div>
{% endblock %}